footer {
  background-color: rgb(198, 235, 255);
  color: rgb(0, 0, 0);
  padding: 30px;
  text-align: center;
}

.home_img {
  width: 100%;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

.about {
  text-align: center;
}

.cover-image {
  /* object-fit: cover; */
  background-size: cover;
  width: 100%;
}

.overview {
  text-align: center;
  padding: 5%;
}

.cover-image {
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: black;
  height: 400px;  
  text-align: center;
  font-size: 25px;
}

.home_gallery {
  display: grid;
  row-gap: 15px;
  /* column-gap: 15px; */
  margin: auto;
} 

.art_gallery {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  row-gap: 15px;
  /* column-gap: 15px; */
  margin: auto;
} 

.art_gallery img {
  border: solid 10px #000000;
  margin: 10px;
  width: 100%;
}

.travel_gallery img {
  border: solid 10px #000000;
  margin: 10px;
  width: 75%;
}

.travel_gallery {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.home_gallery div:first-child {
  grid-column: -6 / span 5;
  background-image: url(/assets/journal.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.art_gallery div:first-child {
  grid-column: -6 / span 5;
  background-image: url(/assets/journal.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* align nav links to the center in one column */
.page_links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

/* Styles the links so that they have the same color even after they have been visited */
a:visited {
  color: rgb(49, 49, 49);
}

/* media query for screen sizes greater than 700px */
@media only screen and (min-width: 700px) {
    /* align nav links to the center in one row */
  .page_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .art_gallery {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    row-gap: 15px;
    /* column-gap: 15px; */
    margin: auto;
  }
  
  .travel_gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .travel_gallery img {
    border: solid 10px #000000;
    margin: 10px;
    width: 25%;
  }
}

/* media query for screen sizes greater than 900px */
@media only screen and (min-width: 900px) {
  .art_gallery {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    row-gap: 15px;
    /* column-gap: 15px; */
    margin: auto;
  }
  
  .travel_gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .travel_gallery img {
    border: solid 10px #000000;
    margin: 10px;
    width: 25%;
  }
}